<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byze.mapper.PanDataMapper">
    <select id="getPanData" resultType="top.byze.bean.PanData">
        select *
        from pandata
        where UID = #{UID};
    </select>

    <insert id="initData">
        insert into pandata(UID, grade, nowStorage, maxStorage)
        values (#{UID}, 1, 0, 1024);
    </insert>

    <update id="setNowStorage">
        update pandata
        set nowStorage = #{nowStorage}
        where UID = #{UID};
    </update>
</mapper>
