<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byze.mapper.UserFileMapper">
    <select id="getFileList" resultType="top.byze.bean.UserFile">
        select *
        from userfile
        where UID = #{UID}
          and fileDir = #{fileDir}
          and fileState = 'Y';
    </select>

    <select id="getUserFile" resultType="top.byze.bean.UserFile">
        select *
        from userfile
        where UID = #{UID}
          and fileDir = #{fileDir}
          and fileName = #{fileName}
    </select>

    <select id="lookupBin" resultType="top.byze.bean.UserFile">
        select *
        from userfile
        where UID = #{UID}
          and fileState = 'N';
    </select>

    <select id="selectFilesOutOFfDateInDB" resultType="top.byze.bean.UserFile">
        select *
        from UserFile
        where fileState = 'N'
          and deleteTime &lt; DATE_SUB(CURRENT_TIMESTAMP, INTERVAL #{days} day);
    </select>

    <insert id="saveUserFile">
        insert into userfile(UID, fileName, fileType, fileSize, fileState, fileDir)
        values (#{UID}, #{fileName}, #{fileType}, #{fileSize}, #{fileState}, #{fileDir});
    </insert>

    <update id="deleteUserFile">
        update userfile
        set fileState = 'N'
        where UID = #{UID}
          and fileName = #{fileName}
          and fileDir = #{fileDir};
    </update>

    <update id="recoveryFile">
        update userfile
        set fileState = 'Y'
        where UID = #{UID}
          and fileName = #{fileName}
          and fileDir = #{fileDir};
    </update>

    <delete id="clearBin">
        delete
        from userfile
        where UID = #{UID}
          and fileState = 'N';
    </delete>

    <delete id="clearUserFile">
        delete
        from userfile
        where UID = #{UID}
          and fileName = #{fileName}
          and fileDir = #{fileDir}
    </delete>

    <delete id="clearFilesOutOFfDateInDB">
        delete
        from UserFile
        where fileState = 'N'
          and deleteTime &lt; DATE_SUB(CURRENT_TIMESTAMP, INTERVAL #{days} day);
    </delete>
</mapper>
