<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byze.mapper.UserMapper">
    <select id="selectAll" resultType="top.byze.bean.User">
        select *
        from user;
    </select>

    <select id="getUser" resultType="top.byze.bean.User">
        select *
        from user
        where email = #{email};
    </select>

    <select id="getUid" resultType="int">
        select UID
        from user
        where email = #{email};
    </select>

    <select id="findUser" resultType="boolean">
        <![CDATA[
        select count(UID)
        from user
        where email = #{email}
          and password = #{password}
        ]]>
    </select>

    <select id="checkEmail" resultType="boolean">
        <![CDATA[
        select count(UID)
        from user
        where email = #{email}
        ]]>
    </select>

    <select id="isOpenPan" resultType="boolean">
        select isOpenPan
        from user
        where email = #{email}
    </select>

    <select id="isOpenYou" resultType="boolean">
        select isOpenYou
        from user
        where email = #{email}
    </select>

    <insert id="addUser">
        insert into user(username, password, email)
        values (#{username}, #{password}, #{email});
    </insert>

    <update id="openPan">
        update user
        set isOpenPan = '1'
        where email = #{email};
    </update>

    <update id="openYou">
        update user
        set isOpenYou = '1'
        where email = #{email};
    </update>
</mapper>
