<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byze.mapper.VerifyMapper">
    <select id="checkVerifyCode" resultType="boolean">
        <![CDATA[
        select count(VID)
        from verify
        where email = #{email}
          and verifyCode = #{verifyCode}
        ]]>
    </select>

    <insert id="saveVerifyCode">
        insert into verify(email, verifyCode)
        values (#{email}, #{verifyCode});
    </insert>
</mapper>
