<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>BaiZePan</title>
    <link rel="icon" href="static/img/32.png" sizes="32x32"/>
    <link rel="icon" href="static/img/192.png" sizes="192x192"/>
    <link rel="stylesheet" href="./static/css/disk.css">
    <link rel="stylesheet" href="./static/element-ui/lib/theme-chalk/index.css">
    <script src="./static/js/vue.js"></script>
    <script src="./static/js/axios.js"></script>
    <script src="./static/element-ui/lib/index.js"></script>
</head>
<body>

<div id="disk">
    <el-container style="height:1000px; border: 1px solid #eee">
        <el-header style="text-align: right; font-size: 24px">
            <div class="demo-fit">
                <el-avatar shape="circle " :size="50" fit='fill' :src="userData.icon" @error="true"></el-avatar>
                <span>{{userData.username}}</span>
            </div>
        </el-header>
        <el-container>
            <el-aside style="width:210px">
                <el-menu class="el-menu-vertical-demo"
                         @select="handleSelect" :collapse="isCollapse">
                    <el-menu-item index="0">
                        <i class="el-icon-location"></i>
                        <span slot="title">我的资源</span>
                    </el-menu-item>
                    <el-menu-item index="1">
                        <i class="el-icon-delete"></i>
                        <span slot="title">回收站</span>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon-user"></i>
                        <span slot="title">好友</span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-setting"></i>
                        <span slot="title">设置</span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-main>
                <div v-show="isShow[0]">
                    <el-upload
                            class="upload-demo"
                            ref="upload"
                            :action="uploadUrl"
                            :data="fileDir"
                            :on-success="handleSuccess"
                            :on-error="handleError"
                            :file-list="uploadFileList"
                            :multiple="true"
                            :auto-upload="false">
                        <el-button size="medium" slot="trigger" type="primary">选取文件</el-button>
                        <el-button size="medium" style="margin-left: 10px;" type="success" @click="submitUpload">上传到服务器
                        </el-button>
                        <el-button size="medium" style="margin-left: 10px;" type="success" @click="updateFileList">刷新
                        </el-button>
                        <el-button size="medium" style="margin-left: 10px;" type="primary" @click="downloadSelect">下载所选项
                        </el-button>
                        <el-button size="medium" style="margin-left: 10px;" type="danger" @click="DeleteSelect">删除所选项
                        </el-button>
                    </el-upload>
                    <el-table height="750" ref="multipleTable" tooltip-effect="dark" :data="fileList" :stripe=true
                              @selection-change="handleSelectionChange">
                        <el-table-column type="selection" width="auto"></el-table-column>
                        <el-table-column prop="fileType" width="35"><i class="el-icon-document"></i></el-table-column>
                        <el-table-column label="文件名字" prop="fileName"></el-table-column>
                        <el-table-column label="文件大小" prop="fileSize"></el-table-column>
                        <el-table-column label="操作" width="auto">
                            <template slot-scope="scope">
                                <el-button size="small" type="primary" @click="downloadFile(scope.$index)">下载</el-button>
                                <el-button size="small" type="danger" @click="Delete(scope.$index)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <div v-show="isShow[1]">
                    <el-button size="medium" type="primary" @click="clearBin">清空回收站</el-button>
                    <el-table height="750" :data="binList" :stripe=true>
                        <el-table-column type="index" width="auto"></el-table-column>
                        <el-table-column prop="fileType" width="35"><i class="el-icon-document"></i></el-table-column>
                        <el-table-column label="文件名字" prop="fileName"></el-table-column>
                        <el-table-column label="文件大小" prop="fileSize"></el-table-column>
                        <el-table-column label="删除时间" prop="time"></el-table-column>
                        <el-table-column label="操作" width="auto">
                            <template slot-scope="scope">
                                <el-button size="small" type="primary" @click="recovery(scope.$index)">还原</el-button>
                                <el-button size="small" type="danger" @click="clear(scope.$index)">清除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <div v-show="isShow[2]">
                    <el-table :data="friendList" :stripe=true>
                        <el-table-column label="用户名" prop="username"></el-table-column>
                        <el-table-column label="分组" prop="group"></el-table-column>
                    </el-table>
                </div>
                <div v-show="isShow[3]">
                    <!--头像-->
                    <div class="demo-image__placeholder" style="text-align: center">
                        <div class="block">
                            <el-image :src="userData.icon"></el-image>
                        </div>
                    </div>
                    <el-form ref="form" :model="userData" label-width="120px" label-position="right">
                        <el-form-item label="用户ID">
                            <el-tag>{{userData.uid}}</el-tag>
                        </el-form-item>
                        <el-form-item label="用户名">
                            <el-input v-model="userData.username"></el-input>
                        </el-form-item>
                        <el-form-item label="邮箱">
                            <el-tag>{{userData.email}}</el-tag>
                        </el-form-item>
                        <el-form-item label="手机">
                            <el-input v-model="userData.phone"></el-input>
                        </el-form-item>
                        <el-form-item label="真实姓名">
                            <el-input v-model="userData.realName"></el-input>
                        </el-form-item>
                        <el-form-item label="身份证">
                            <el-input v-model="userData.idCard"></el-input>
                        </el-form-item>
                        <el-form-item label="会员等级">
                            <el-tag>{{userData.grade}}</el-tag>
                        </el-form-item>
                        <el-form-item label="空间使用量">
                            <el-progress :text-inside="true" :stroke-width="40"
                                         :percentage=Math.round(userData.nowStorage*100/userData.maxStorage)></el-progress>
                        </el-form-item>
                        <el-form-item style="text-align: center">
                            <el-button type="primary" @click="modifyAttributes">立即修改</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </el-main>
        </el-container>
        <el-footer style="text-align: center">
            <p>© 2022 By MUTOU</p>
        </el-footer>
    </el-container>
</div>

<script src="./static/js/Var.js"></script>
<script src="./static/js/disk.js"></script>
</body>
</html>