<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BaiZe</title>
    <link rel="icon" href="static/img/32.png" sizes="32x32"/>
    <link rel="icon" href="static/img/192.png" sizes="192x192"/>
    <link rel="stylesheet" href="./static/css/index.css">
    <link rel="stylesheet" href="./static/element-ui/lib/theme-chalk/index.css">
    <script src="./static/js/vue.js"></script>
    <script src="./static/js/axios.js"></script>
    <script src="./static/element-ui/lib/index.js"></script>
</head>

<body>

<div id="app">
    <div style="text-align: left">
        <el-button @click="handleSelect(2)">白泽网盘</el-button>
        <el-button @click="handleSelect(3)">白泽游戏</el-button>
        <el-button @click="handleSelect(4)">关于作者</el-button>
        <el-button @click="handleSelect(5)" v-if="!isLoginBoolean">登录/注册</el-button>
        <el-button @click="handleSelect(6)" v-if="isLoginBoolean">退出登录</el-button>
    </div>
    <br>
    <div class="demo-image__placeholder">
        <div class="block">
            <el-image :src="bg"></el-image>
        </div>
    </div>
    <div style="text-align: center; width:100%; height:auto">
        <p>{{ Quotes }}</p>
    </div>
</div>

<script src="./static/js/Var.js"></script>
<script src="./static/js/index.js"></script>
</body>
</html>