<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="static/img/32.png" rel="icon" sizes="32x32"/>
    <link href="static/img/192.png" rel="icon" sizes="192x192"/>
    <link href="static/img/login.jpg" rel="shortcut icon">
    <link href="./static/css/login.css" rel="stylesheet">
    <link href="./static/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
    <script src="./static/js/axios.js"></script>
    <script src="./static/js/vue.js"></script>
    <script src="./static/element-ui/lib/index.js"></script>

</head>
<body>
<!--登录与注册 使用普通的JavaScript代码-->
<div class="container">
    <div class="form-box">
        <div class="register-box hidden">
            <div id="register">
                <h1>REGISTER</h1>
                <label><input @focusout="checkUsername" class="input" name="username" placeholder="用户名" type="text"
                              v-model=username></label>
                <label><input @focusout="checkEmail" class="input" name="e-mail" placeholder="邮箱" type="email"
                              v-model=email></label>
                <label><input @focusout=checkPassword class="input" name="password" placeholder="密码" type="password"
                              v-model=password></label>
                <label><input @focusout=checkConPassword class="input" name="conPassword" placeholder="确认密码"
                              type="password" v-model=conPassword></label>
                <label>
                    <input class="input-verify" name="verify" placeholder="验证码" type="text" v-model=verifyCode>
                    <button @click="getVerifyCode" class="button-verify">获取验证码</button>
                </label>
                <button @click="register" class="button">注册</button>
            </div>
        </div>
        <div class="login-box">
            <div id="login">
                <h1>LOGIN</h1>
                <label><input @focusout="checkEmail" class="input" placeholder="邮箱" type="email"
                              v-model="email"></label>
                <label><input @focusout="checkPassword" class="input" placeholder="密码" type="password"
                              v-model="password"></label>
                <button @click="login" class="button">登录</button>
            </div>
        </div>
    </div>
    <div class="con-box left">
        <h2> 注册吧</h2>
        <p> 开开心心来注册</p>
        <img alt="一张图片" src="static/img/login.jpg">
        <p> 已有账号？</p>
        <button id="goLogin">去登录</button>
    </div>
    <div class="con-box right">
        <h2> 登录吧</h2>
        <p> 开开心心来登录</p>
        <img alt="一张图片" src="static/img/login.jpg">
        <p> 没有账号？</p>
        <button id="goRegister">去注册</button>
    </div>
</div>

<script src="./static/js/Var.js"></script>
<script src="./static/js/login.js"></script>
</body>
</html>