<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0" metadata-complete="false">


<!--    这个的顺序决定了过滤链的顺序-->
<!--    &lt;!&ndash;过滤器链中FirstChainFilter配置 &ndash;&gt;-->
<!--    <filter>-->
<!--        <filter-name>FirstChainFilter</filter-name>-->
<!--        <filter-class>swadian.servlet.filter.FirstChainFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>FirstChainFilter</filter-name>-->
<!--        <url-pattern>/LoginServlet</url-pattern>-->
<!--    </filter-mapping>-->
<!--    &lt;!&ndash;过滤器链中SecondChainFilter配置 &ndash;&gt;-->
<!--    <filter>-->
<!--        <filter-name>SecondChainFilter</filter-name>-->
<!--        <filter-class>swadian.servlet.filter.SecondChainFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>SecondChainFilter</filter-name>-->
<!--        <url-pattern>/LoginServlet</url-pattern>-->
<!--    </filter-mapping>-->

</web-app>