<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byzeyou.mapper.GameListMapper">

    <select id="selectAll" resultType="top.byzeyou.bean.Game">
        select *
        from gamelist;
    </select>

    <insert id="addGame">
        insert into gamelist (name, icon, installer, introduction)
        values (#{name}, #{icon}, #{installer}, #{introduction});
    </insert>

    <!--    <delete id="deleteALL">-->
    <!--    </delete>-->
</mapper>
